@import '@fontsource/zen-maru-gothic';
@import '@fontsource-variable/vazirmatn';
@import '@fontsource-variable/google-sans-flex';

.lang--en,
[lang='en'] {
  --font-main: 'Google Sans Flex Variable', sans-serif;
}

.lang--ja,
[lang='ja'] {
  --font-main: 'Zen Maru Gothic', sans-serif;
}

.lang--fa,
[lang='fa'] {
  --font-main: 'Vazirmatn Variable', sans-serif;
}

body {
  font-family: var(--font-main);
}
